<template>
	<view class="contain">
		<view class="content">
			客官您好，本平台的每天限量拼团，规则如下：<br/>			1、每个用户（有足额开团券）每天开团次数最高：2次。<br/>			2、每个用户（有足额积分）每天参团最高次数：10次。<br/>			3、每个用户每天参团中奖次数超过3次时，停止参团。<br/>			4、每次用户，每次开团之前需参团1次及以上才有资格开团。<br/>
		</view>
		
	</view>
</template>

<script>
	export default {
		data() {
			return {
				
			}
		},
		methods: {
			
		}
	}
</script>

<style>
.content{
	padding: 74rpx;
	color: #636161;
	font-size: 28rpx;
	line-height: 50rpx;
}
</style>
