<template>
	<view class="contain">
		<view class="content">
			<image src="../../static/image/roule1.jpg" mode=""></image>
			<!-- <image style="width: 750rpx;height: 400rpx;" src="../../static/image/roule2.jpeg" mode=""></image> -->
		</view>
		
	</view>
</template>

<script>
	export default {
		data() {
			return {
				
			}
		},
		methods: {
			
		}
	}
</script>

<style>
.content{
	/* padding: 74rpx; */
	color: #636161;
	font-size: 28rpx;
	line-height: 40rpx;
}
.content image{
	width: 750rpx;
	height: 1333rpx;
	display: block;
}
</style>
