<template>
	<view class="contain">
		<view class="content">
			贵州鑫瑞荣达贸易有限公司(以下简称玖红天下)产品为玖红天下。<br/><br/>
			本服务协议具有合同效力。玖红天下用户(以下称“您”)欲访问或使用玖红天下前请务必仔细阅读以下各条款。您的使用行为将被视为您对本服务协议条款完全接受，包括接受玖红天下对服务协议条款随时所做的任何修改。如您不同意本服务协议或玖红天下随时对服务协议的修改，您应不使用或主动取消“玖红天下”提供的服务。<br/><br/>
			本服务协议内容包括本协议各条款及玖红天下已经发布的或将来可能发布的各类规则。所有规则为协议不可分割的一部分，与协议正文具有同等法律效力。玖红天下根据需要制定、修改、变更的协议条款或各类规则在“玖红天下”网上一经公布，立即自动生效。您可随时登录网页查阅最新的服务协议条款和规则。如您不同意相关变更，玖红天下有权不经任何告知中止、终止本服务协议或者限制您访问、使用玖红天下全部或者部分板块且不承担任何法律，责任。<br/><br/>
			本服务协议不涉及您与玖红天下其他用户之间因网上交易而产生的法律关系及法律纠纷，但您确认本服务协议后(确认包括但不限于注册使用等)，即表示你同意将全面接受和履行与玖红天下其他用户签订的任何法律文本，并承诺按该法律文本享有或放弃相应的权利、承担或豁免相应的义务。<br/><br/>
			一、服务内容<br/>
			“玖红天下”的具体服务内容由玖红天下根据实际情况提供，暂包括各种信息工具、个人化内容等。玖红天下保留随时变更、中断或终止“玖红天下”的部分或全部服务的权利。<br/><br/>
			二、使用规则及限制<br/>
			2.1　玖红天下只接受中华人民共和国（不包括香港特区、澳门特区及台湾地区）的18周岁以上且具有完全民事行为能力的自然人成为网站用户。如您不符合资格，请勿注册，否则玖红天下保留中止或终止您使用的权利。<br/>
			2.2　您在申请使用“玖红天下”的服务时，必须向玖红天下提供真实准确的个人资料，并保证诸如电子邮件地址、联系电话、联系地址、邮政编码等内容的有效性及安全性，以便将来忘记密码或密码被盗时查询。如申请资料内容有任何变动的，您必须及时更新。<br/>
			2.3　您在注册时自行输入用户名和密码由您自行保管，申请用户时不得使用与本网站相关的词汇，或是带有侮辱、诽谤、造谣等或是有其含义的各种语言进行注册。您不得将依本服务条款所取得的服务权利转让第三人或授权第三人使用；您确认，使用您账户的用户名和密码在玖红天下进行的一切行为承担经济和法律责任。<br/>
			2.4 　您在使用玖红天下的过程中，必须遵循以下原则：<br/>
			　2.4.1　合法使用玖红天下提供的服务及网站内容；<br/>
			　2.4.2　禁止在玖红天下从事任何可能违反中国现行的法律、法规、规章和政府规范性文件的行为或者任何未经授权使用玖红天下的行为；<br/>
			　2.4.3　禁止在玖红天下进行商业广告行为；<br/>
			　2.4.4　禁止捏造或者歪曲事实，散布谣言，扰乱社会秩序的；<br/>
			　2.4.5　禁止宣扬封建迷信、淫秽、色情、赌博、暴力、凶杀、恐怖、教唆犯罪的行为；<br/>
			　2.4.6　禁止侮辱他人或者捏造事实诽谤他人的，或者进行其他恶意攻击的行为；<br/>
			2.5　如您在使用“玖红天下”时违反任何上述规定，玖红天下对此概不负责，玖红天下或及其授权的人有权要求您改正或直接采取一切必要的措施（包括但不限于更改或删除您发布的内容等、暂停或终止您使用“玖红天下”的权利）以减轻您不当行为造成的影响。必要时，我们会向相关的国家管理部门提供此类信息。<br/><br/>
			三、隐私保护<br/>
			3.1　玖红天下对于您提供的、自行收集的、经认证的个人信息将按照本规则予以保护、使用或者披露。当用户作为按照交易约定逾期履行时，玖红天下及作为交易方的其他用户可以采取发布用户的个人信息的方式追索维权，但玖红天下及对上述行为免责。<br/>
			3.2　用户资料的使用<br/>
			　3.2.1　在不擅自透露您隐私资料的前提下，玖红天下有权对您的个人数据进行分析、流量统计，并对您的数据进行商业上的利用。<br/>
			　3.2.2　您提供给玖红天下的个人资料的主要目的在于向用户提供一个顺利、有效和量身订造的交易经历。<br/>
			3.3　信息披露<br/>
			　3.3.1　玖红天下采用行业标准惯例以保护用户的个人资料，但鉴于技术限制，玖红天下不能确保用户的全部私人通讯及其他个人资料不会通过本隐私规则中未列明的途径泄露出去。<br/>
			　3.3.2　玖红天下有义务根据国家法律要求向司法机关和政府部门提供用户的个人资料。在用户未能按照与玖红天下达签订的服务协议或者与玖红天下其他用户签订的借款协议等其他法律文本的约定履行自己应尽的义务时，玖红天下有权根据自己的判断或者与该笔交易有关的其他用户的请求披露用户的个人资料，并做出评论。<br/>
			　3.3.3　任何用户无权要求玖红天下提供其他用户的个人资料，除应法院等国家机关要求。<br/><br/>
			四、知识产权<br/>
			4.1　“玖红天下”商标及服务商标，以及其他“玖红天下”标志及产品、服务名称，均为玖红天下所有。未经玖红天下书面同意，您不得以任何方式擅自展示或使用。<br/>
			五．其他<br/>
			5.1　免责声明<br/>
			　5.1.1　玖红天下对“玖红天下”的及时性、安全性、准确性也不作承诺，由于不可抗力、国家政策变更等非玖红天下原因造成本协议履行不能的，玖红天下不承担任何责任，但将尽力减少因此而给您造成的损失和影响。<br/>
			5.2　适用法律和管辖<br/>
			因玖红天下提供服务所产生的争议均适用中华人民共和国法律，并由玖红天下住所地的贵阳市观山湖区人民法院管辖。<br/>
		</view>
		
	</view>
</template>

<script>
	export default {
		data() {
			return {
				
			}
		},
		methods: {
			
		}
	}
</script>

<style>
.content{
	padding: 74rpx;
	color: #636161;
	font-size: 28rpx;
	line-height: 40rpx;
}
</style>
